.thumbnail{
display: block;
border:none;
margin-left:auto;
margin-right:auto;
width:100%;
}
.col-12{
margin-left:50%;
transform: translate(-50%,0);
}
@media screen and (max-width: 450px) 
{
.col-12,.col-sm-6,.col-lg-4,.col-lg-12{
margin-left:50%;
transform:translate(-50%,0);
background:transparent;
width:90%;
margin-bottom:0rem;
}