article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}




*{
	
	font-family: 'Crimson Text', serif;
 }


 /********filter***************/

 @import 'https://fonts.googleapis.com/css?family=Raleway';

 
 div.container2
 {
	 width:68%;
	 height:3%;
	margin: 0 auto;
	 padding: 2em 1em;
	 text-align: center;
	 margin-bottom:6%;
	 margin-top:2%;
	 border: 1px solid white;
 }


 div.container2 a
 {
		 color: #FFF;
	 text-decoration: none;
	 font-family: 'Source Code Pro', monospace;
		 font-size: 1.4vw;
		 margin: 0% 2%;
		 padding: 1% 1%;
		 position: relative;
		 z-index: 0;
		 cursor: pointer;
 }
 /* Border X get width  */
 div.borderXwidth a:before, div.borderXwidth a:after
 {
		 position: absolute;
		 opacity: 0;
		 width: 0%;
		 height: 2px;
		 content: '';
		 background: #FFF;
		 transition: all 0.3s;
 }
 div.borderXwidth a:before
 {
		 left: 0px;
		 top: 0px;
 }
 div.borderXwidth a:after
 {
		 right: 0px;
		 bottom: 0px;
 }
 div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
 {
		 opacity: 1;
		 width: 100%;
 }

 /*********filter**************/




/*******************menu**************/



@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
*,
*:before,
*:after {
  box-sizing: border-box;
}




h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}







*{
	
	color: white;
	
 }







           h3{
		/*	font-family: 'Crimson Text', serif;*/
           	font-family: 'Source Code Pro', monospace;
           	color:black;
           	font-weight: 800;
           }
           p{          	
           	background-image: linear-gradient(to right bottom,rgb(65, 66, 66),#000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip:text;
            -moz-fill:transparent;
           }
           span{           	
           	font-family: 'Source Code Pro', monospace;           	
           	background-image: linear-gradient(to right bottom,teal,#555);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip:text;
            -moz-fill:transparent;
           }
/**************************************************/

/***************menu***************/


body {

	background-color: var(--color-bg);
	font-family: Futura, 'IBM Plex Sans', Arial, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

#items a{
	text-decoration:none;
	color:black;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}







@media screen and (min-width: 55em) {

}




